<!--
    if (logged in and you're admin)
    show navbar for admin
-->
<nav>
    <a routerLink = "/order-admin">Order Admin</a>
</nav>

<!--
    if (logged in and you're user)
    show nav for user

    <nav>
        <a routerLink = 'order-user'>Order User</a>
    </nav>
-->

<!--
    if (logged in)
    show router outlet
-->
<router-outlet></router-outlet>

<!--
    if (not logged in)
    show login page
-->
